# Assignment - 1

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

1)  ( * )       =  Expression      (Mathematical Operator)
2) 'hello'      =  Values          (String)
3) -87.8        =  Values          (Float)
4)  (-)         =  Expression      (Mathematical Operator)
5) (/)          =  Expression      (Mathematical Operator)
6) (+)          =  Expression      (Mathematical Operator)
7) 6            =  Values          (Integer)

2. What is the difference between string and variable?

String : A string in python are a data type used to represent a sequence of character data. They are created by enclosing either single quotes ('') or double quotes ("").

In [1]:
x = "Hari"      # "Hari" is string

Variable : A variable is a named location used to store data in memory.They provide a way to refer to values by a name or identifier. Variables can hold various types of data, including strings, numbers, lists, and assign values to variables using the assignment operator (=).

In [2]:
name = "Hari"   #name variable hold the values "Hari".
age  = 25       #age variable hold the values 25.

3. Describe three different data types.

Integer :  Integer data type represents are whole number, without any decimal points.

In [3]:
X = 105
print(X)
print(type(X))

105
<class 'int'>

Float :  Float data type represents real number and re written with a decimal point.

In [4]:
X = 105.55
print(X)
print(type(X))

105.55
<class 'float'>

String : A string in python are a data type used to represent a sequence of character data. They are created by enclosing either single quotes ('') or double quotes ("").

In [5]:
name = "Hari"
print(name)
print(type(name))

Hari
<class 'str'>

List : 
 * List in python is an ordered collection of items.
 * they are mutable and Heterogeneous elements.

In [6]:
animal = ["Horse", "Rabbit", "Deer"]
print(animal)
print(type(animal))

['Horse', 'Rabbit', 'Deer']
<class 'list'>

Tuple: 
 * Tuple in python is an ordered collection of items.
 * they are immutable and Heterogeneous elements.

In [7]:
places = ("Bengaluru", "Mumbai", "Hyderabad")
print(places)
print(type(places))

('Bengaluru', 'Mumbai', 'Hyderabad')
<class 'tuple'>

Dictionary: 
 * Dictionary in python is an unordered collection of items.
 * Each item stored in a dictionaries has a key-value pairs and Heterogeneous elements.

In [8]:
my_dict = {"Country":"India", "State":"Karnataka", "City":"Bengaluru"}
print(my_dict)
print(type(my_dict))

{'Country': 'India', 'State': 'Karnataka', 'City': 'Bengaluru'}
<class 'dict'>

Set : A Set is an unordered collection of unique elements.

In [9]:
State_name = {"Karnataka", "Maharashtra", "Telangana"}
print(State_name)
print(type(State_name))

{'Maharashtra', 'Karnataka', 'Telangana'}
<class 'set'>

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [10]:
spam = 10

* spam is assignment statement
* 10 is assigns the value

Expression : An expression is something that gives a value, and can be printed out. it is a combination of Arithmetic Operators,Boolean and Variables. any values is an expression .

In [11]:
x = 5+3  # 5+3 is expression
print(x)

8

Statement :  A single line of code is known as a statement.

In [12]:
# assignment statement
count = 0
# print statement
print(count)

0

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [13]:
bacon = 22
bacon+1

23

 variable bacon contain 22.

7. What should the values of the following two terms be?

'spam' + 'spamspam' 
 output = 'spamspamspam'

In [14]:
'spam' + 'spamspam'

'spamspamspam'

'spam' * 3
 output = 'spamspamspam'

In [15]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

* eggs is  a identifier and  is a name used to identify a variable, function, class, module, or other object.
* 100 is a number and identifier  start with a letter(a-z,A-Z)or an (_)underscore. not with number.so 100 is invalid.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

# Integer

Converting a String to an Integer:
* the int() function to convert a string containing a numeric value to an integer.

In [16]:
num_str = "10"
num_int = int(num_str)
print(num_int)

10

Converting a Floating-Point Number to an Integer
* int() function will truncate the decimal portion when converting a floating-point number to an integer.

In [17]:
float_num = 5.55
int_num = int(float_num)
print(int_num)

5

Converting Boolean Values to Integers:
* Booleans can be converted to integers, where True becomes 1 and False becomes 0.

In [18]:
bool_value = True     # if false the output is 0
int_value = int(bool_value)
print(int_value)

1

# Floating-point number

Converting an Integer to a Floating-Point Number

In [19]:
integer_value = 50
float_value = float(integer_value)
print(float_value)

50.0

Converting a String to a Floating-Point Number :

In [20]:
string_value = "3.14"
float_value = float(string_value)
print(float_value)

3.14

# String

String Conversion: str()
* The str() function used to convert a value to its string representation.

In [21]:
num = 100
str_num = str(num)  # Converts integer 100 to string "100"
print('str_num')

str_num

String Formatting:
* The format() function is used to format and insert values into strings. It converts values to their string representations and inserts them into placeholders in the string.

In [22]:
name = "Hari"
age = 25
message = "My name is {} and I am {} years old.".format(name, age)
print(message)

My name is Hari and I am 25 years old.

String Concatenation:
* The + operator can be used to concatenate strings together. When used with strings and other values.

In [23]:
num = 50
result = "The answer is: " + str(num)
print(result)

The answer is: 50

10. Why does this expression cause an error? How can you fix it?

'I have eaten'+ 99 + 'burritos.'

'I have eaten' ,'burritos.' is string and 99 is integer. convert integer to strings.

In [24]:
results = 'I have eaten '+str(99)+ ' burritos.'
print(results)

I have eaten 99 burritos.